.contact {
    h1 {
        font-family: sans-serif;
        font-weight: bold;
    }

    &-right {
        img {
            width: 100%;
            border-radius: 1rem;
        }
    }

    form {
        .form-group {
            margin: 20px 0;
        }
        label {
            display: block;
            padding-bottom: 15px;
            font-weight: 500;
        }

        input, textarea {
            width: 70%;
            padding: 10px 20px;
            outline: none;
            border-radius: 7px;
            border: none;
            background-color: #e0e0e0;
        }
    }
}